html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
     margin: 0 0 100px; /* bottom = footer height */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*********************************/

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.pageHeader {height:20px; background-color:#056cd5; padding:10px 10px; margin-bottom:10px; color:White; position:relative;}
.pageHeader h1{font:normal 1.2em Arial; color:White; margin:0px; padding:0px;}
.pageHeader .platformular {position:absolute; top:10px; right:10px;}
.pageBody {margin:0 10px;}
.pageFooter {clear:both; padding-top:10px; width:100%; text-align:center; font-size:0.8em; color:#686868; margin:25px 0 0 0; border-top:solid 1px #e7e7e7;}

/* ======== Table ======== */
.tbl { table-layout:auto; border-collapse:collapse; width:100%;}
.tbl thead th { border-bottom:solid 1px #ededed; background-color:#ededed; padding:5px; text-align:left; color:#9c9c9c; font-size:0.9em; font-weight:normal;}
.tbl tbody td { border-bottom:solid 1px #ededed; padding:5px; color:#686868; font-size:0.9em}

/*****************************************************/

footer {
    position: absolute;
    left: 100px;
    bottom: 0;
    height: 100px;
    width: 100%;
    /*background-color: #dddddd; */
    /*text-align: center;*/
    margin: 0px 0px 0px 0px;
    font-family: arial, helvetica;
    font-weight: bold ;
    font-size: 10px;
    clear: both;
}

#primary_nav_wrap {
  margin-top: 15px
}

#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0
}

#primary_nav_wrap ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
  background: #ddd
}

#primary_nav_wrap ul li:hover {
  background: #f6f6f6
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px
}

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%
}

#primary_nav_wrap ul li:hover > ul {
  display: block
}
